* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.margin-center {
	background: lavender;
	padding: 10px;
	max-width: 600px;
	/* margin: 50px 100px; */
	/* margin: 10px auto; */
	/* If margin has 2 values, the first
	value corresponds with the top and
	bottom, second with the left and right */
	margin: 10px auto;
}

.translate-center {
background: lightgoldenrodyellow;
padding: 10px;
width: 600px;
max-width: 100%;

position: fixed;
left: 50%;
/* top: 50%; */
/* transform: translate(-50%, -50%); */
translate: -50%;
}

.container {
background: lightblue;
padding: 10px;
display:flex;

/* the flex direction determines the
main and cross axis directions, which
changes how our alignment properties
work */

flex-direction: row;

justify-content: center;

/* align items is used for single
line flexboxes */
/* align-items: center; */
/* align-items: flex-end; */

flex-wrap: wrap;
/* align content is used for
multi-line, wrapping flexboxes  */
align-content: center;

gap: 30px;

height:400px;
}

.item {
background: bisque;
padding: 10px;
border:1px solid;

width: 200px;
}