* {
	box-sizing: border-box;
}

body {
margin: 0;
}

img {
	max-width: 100%;
}

.main-container {
	background: lightblue;
	height: 100vh;
	padding: 10px;
	display: flex;
    flex-direction: column;
}

.top {
	background: lightgreen;
    height: 20%;
    display:flex;
    justify-content: space-evenly;
    gap: 10px;
}

.top-item {
background: lightcyan;
width: 100%;
}

.bottom {
	background: lightgoldenrodyellow;
    height: 80%;
}
